<html>
    <script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
    <head>
        <title>MeTube</title>
        <link th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.css}" rel="stylesheet"></link>
        <link href="css/album.css" rel="stylesheet"></link>
    </head>
    <body data-gr-c-s-loaded="true">
        <header>
            <div class="collapse bg-dark" id="navbarHeader">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-md-7 py-4">
                            <h4 class="text-white">About</h4>
                            <p class="text-muted">Our mission is to provide a platform for everyone to speak and a window to observe the world. We believe that everyone has the right to speak. If we listen to each other, share and use our stories to build our own community, this will make the world a better place.</p>
                        </div>
                        <div class="col-sm-4 offset-md-1 py-4">
                            <h4 class="text-white">Contact</h4>

                            <ul class="list-unstyled">
                                <li><a href="https://v4.bootcss.com/docs/4.3/examples/album/#" class="text-white">Follow on Twitter</a></li>
                                <li><a href="https://v4.bootcss.com/docs/4.3/examples/album/#" class="text-white">Like on Facebook</a></li>
                                <li><a href="https://v4.bootcss.com/docs/4.3/examples/album/#" class="text-white">Email me</a></li>
                            </ul>
                            <a  href="/user/logout">Logout</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="navbar navbar-dark bg-dark shadow-sm">
                <div class="container d-flex justify-content-between">
                    <a href="http://localhost:8081/video" class="navbar-brand d-flex align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="mr-2" viewBox="0 0 24 24" focusable="false"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
                        <strong>MeTube</strong>
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                </div>

            </div>
        </header>
        <main role="main">

            <section class="jumbotron text-center">
                <div class="container">
                    <h1>Welcome to MeTube</h1>
                    <p class="lead text-muted">Enjoy videos we have here.</p>

                </div>
                <div class="container">
                    <form th:action="@{/search}" method="post">
                        <label for="username">Search</label>
                        <input id="search" type="text" name="search"></input>
                        <button type="submit"> search</button>
                    </form>
                </div>
            </section>
            <!--
            <div th:each="video:${videos}">
                <img alt="Responsive image" th:src="${video.picLink}"/>
                <p th:text="${video.name}"></p>
                <p th:text="${video.description}"></p>
                <p th:text="${video.time}"></p>minutes
                <a th:href="'/video/'+${video.id}">view</a>
            </div>  -->

            <div class="album py-5 bg-light">
                <div class="container">
                    <div class="row">

                        <div class="col-md-4"  th:each="video:${videos}">
                            <div class="card mb-4 shadow-sm h-100">
                                <a th:href="'/video/'+${video.id}"><img  class="img-fluid w-100" alt="Responsive image" th:src="${video.picLink}"/></a>
                                <div class="card-body">
                                    <a th:href="'/video/'+${video.id}"><p th:text="${video.name}"></p></a>
                                    <p class="card-text">This is the movie we want you to look at.</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <a class="btn btn-sm btn-outline-secondary" th:href="'/video/'+${video.id}">View</a>

                                        </div>
                                        <small class="text-muted" th:text="${video.time}+ 'mins'"></small>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </main>

        <footer class="text-muted">
            <div class="container">

            </div>
        </footer>
        <script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}" crossorigin="anonymous"></script>
        <script th:src="@{/webjars/bootstrap/4.0.0/js/bootstrap.bundle.js}"></script>
    </body>
</html>